name: Deploy to Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /opt/snakeGame/multiplayerSnake
          git pull origin main
          npm install
          npm run build
          sudo systemctl restart snakegame.service
          # Copy static export to static export directory
          mkdir -p /var/www/googlyeyes
          rm -rf /var/www/googlyeyes/*
          cp -r dist/* /var/www/googlyeyes/


          sudo systemctl restart snakegame.service
